beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
google==2.0.1
google-search==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.6.5
MarkupSafe==1.1.0
requests==2.21.0
soupsieve==1.7.3
urllib3==1.24.1
Werkzeug==0.14.1
gunicorn==19.9.0
fuzzywuzzy==0.17.0
youtube-dl==2019.1.24
flask_cors==3.0.7
