asn1crypto==0.24.0
beautifulsoup4==4.7.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
conda==4.5.12
cryptography==2.4.2
future==0.17.1
fuzzywuzzy==0.17.0
google==2.0.1
gunicorn==19.9.0
idna==2.8
mido==1.2.9
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==18.0.0
PySocks==1.6.8
requests==2.21.0
ruamel-yaml==0.15.46
six==1.12.0
soupsieve==1.7.3
urllib3==1.24.1
