body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.startbutton {
    font-size: 24px;
    background-color: green;
    border-radius: 2px;
    border: none;
    padding: 30px 50px;
    color: white;
}

.stopbutton {
    font-size: 24px;
    background-color: red;
    border-radius: 2px;
    border: none;
    padding: 30px 43px;
    color: white;
}

.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#voice-recognition-output {
    padding-top: 150px;
    font-size: 30px;
}